.form-group
  .input-group
    %select.form-control._brand-search{data: { redirect: redirect }, :placeholder => t('search_for_brand'), :type => "text"}
    -# .input-group-append
      %span.input-group-text.yellow-bg
        %i.fa.fa-arrow-right