.row.mt-5
  .col-sm-12.text-center
    %h4
      Explore supply chain
    %span.float-right.text-muted
      Sourcing from factories
      (
      %span#factory-count 0
      found)
    .table-responsive
      %table.table.table-sm.light-blue-bg.medium-grey
        %thead
          %tr.white-bg.table-borderless.text-center.border-bottom-0
            %th.border-bottom-0.blue-bg
            %th.border-bottom-0{colspan: 2} NUMBER OF WORKERS
            %th.border-bottom-0{colspan: 2} WAGE
            %th.border-bottom-0{colspan: 3} WORKERS
          %tr.light-blue-bg.border-top-0.border-bottom-2
            %td.medium-blue-bg.border-0 COMPANY
            %td Female/Male/Other
            %td Permanent/ Temporary
            %td.other-blue-bg Average
            %td.other-blue-bg Gap
            %td Have cba
            %td Know brand
            %td Pregnancy leave
        %tbody