.row.brand.mx-0.mt-3
  = brand_profile_partial "score/living_wage"

.row.brand.mx-0.mt-3
  .col-sm-6.pl-0
    = brand_profile_partial "score/transparency"
  .col-sm-6.pr-0.pl-1
    = brand_profile_partial "score/commitment"
