.form-group.search-form
  .input-group
    %select.border-radius-0.form-control._brand-search{data: { redirect: redirect }, :placeholder => t('search_for_brand'), :type => "text"}
    .input-group-append
      %span.input-group-text.yellow-bg.p-0.px-2
        %img{src: "images/arrow-forward.png", height: "20px"}
        -# %i.fa.fa-arrow-right