- key = "suppliers_table.#{key}"
- content = t "#{key}_info" || "ooga"

.suppliers-column-header
  .supplier-column-title
    = t key
  %a{ data: { toggle: "popover", trigger: "hover", content: "#{content}" } }
    %i.fa.fa-info-circle