.row
  .col-sm-12
    %h4
      =title
.row{class: "#{title.downcase}"}
  .col-md-6
    %h6.d-md-none
      Minimum Wage
    - min_wage_icons.each do |icon|
      = partial "partials/homepage/illustration", locals: { category: title.downcase, size: "25", icon: icon}
  .col-md-6
    %h6.d-md-none
      iving Wage
    - living_wage_icons.each do |icon|
      = partial "partials/homepage/illustration", locals: { category: title.downcase, size: "25", icon: icon}