$orange: #fb4922;
$yellow: #f9fe9c;
$pink: #fcc9fd;
$medium-grey: #e9e4e3;
$light-grey: #f4f2f2;
$white: #fff;
$fuchsia: #ed40d9;
$blue: #223366;
$navy: #1d1d2f;
$dark-blue: #1B2E6F;
$light-blue: #32437d;
$lighter-blue: #7c8dc4;
$other-blue: #4a588c;
$medium-blue: #112053;
$sky-blue: #5a6fb7;

.food {
  fill: #fdbf41;
  color: #fdbf41;
  .card-face:hover {
    border: 1px solid #fdbf41;
  }
}

.housing {
  fill: $orange;
  color: $orange;
  .card-face:hover {
    border: 1px solid $orange;
  }
}

.health_care {
  fill: $fuchsia;
  color: $fuchsia;
  .card-face:hover {
    border: 1px solid $fuchsia;
  }
}

.education {
  fill: #8774db;
  color: #8774db;
  .card-face:hover {
    border: 1px solid #8774db;
  }
}

.clothing {
  fill: #4493d0;
  color: #4493d0;
  .card-face:hover {
    border: 1px solid #4493d0;
  }
}

.transportation {
  fill: #01b5a6;
  color: #01b5a6;
  .card-face:hover {
    border: 1px solid #01b5a6;
  }
}

.savings {
  fill: #62ac5b;
  color: #62ac5b;
  .card-face:hover {
    border: 1px solid #62ac5b;
  }
}

$table-color: $medium-grey;

$body-bg: $blue;
//$body-color: $yellow;
//$card-bg: $navy;
//$card-header-bg: $navy;

.red {
  color: $orange;
}

.light-grey {
  color: $light-grey;
}

.medium-grey {
  color: $medium-grey;
}

.red-bg {
  background-color: $orange;
}

.orange {
  background-color: $orange;
  color: $yellow;
}

.navy-bg {
  background-color: $navy;
  color: $white;
}

.light-grey-bg {
  background-color: $light-grey;
}

.blue-bg {
  background-color: $blue;
  color: $white;
}

.light-blue-bg {
  background-color: $light-blue;
  color: $table-color;
}

.medium-blue-bg {
  background-color: $medium-blue;
  color: $table-color;
}

.sky-blue-bg {
  background-color: $sky-blue;
  color: $table-color;
}

.lighter-blue-bg {
  background-color: $lighter-blue;
  color: $table-color;
}

.other-blue-bg {
  background-color: $other-blue;
  color: $table-color;
}

.white-bg {
  background-color: $white;
  color: #000000;
}

.fuchsia-bg {
  background-color: $fuchsia;
}

.black-bg {
  background-color: #000 !important;
  color: $light-grey !important;
}

.navy-btn {
  background-color: $navy !important;
  border-color: #000 !important;
  color: $white !important;
}

.black {
  color: #000 !important;
}

.fuchsia {
  color: $fuchsia;
}

.pink {
  color: $pink;
}

.navy {
  color: $navy !important;
}

.pink-bg {
  background-color: $pink;
}

.yellow {
  color: $yellow;
}

.yellow-bg {
  background-color: $yellow !important;
  color: $orange !important;
}

.grey-bg {
  background-color: $medium-grey;
  color: $orange;
}

.white {
  color: $white !important;
}

.lighter-blue {
  color: $lighter-blue;
}
