html {
  height: 100%;
}

body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  background: linear-gradient(135deg, #674ea7 0%, #3F51B5 100%) fixed;
}

// a {
//   color: rgba(#000, 0.7);
//
//   &:focus,
//   &:hover {
//     color: rgba(#000, 0.6);
//   }
// }

.drop-shadow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32);
}

.input-group {
  flex-wrap: nowrap !important;

  select {
    width: 100%;
    min-width: 100%;
  }
}

.template {
  display: none !important;
}

.select2-results__options--nested {
  margin-left: 15px !important;
}

.input-group-text .fa {
  color: #fff;
}

.input-group-prepend {
    margin-right: -2px;
}

// for consistent input size and font size
.form-control {
    padding: 0.4999rem 1rem;
    font-size: 1rem;
}

// for consistent placeholder color
input {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 1rem;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 1rem;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 1rem;
  }
  &:-moz-placeholder, &::placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 1rem;
  }
}
