@import "colors";
@import "fonts";

html {
  height: 100%;
}

$primary: #ed40d9;
$border-radius: 0;

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "select2-bootstrap4/layout";

@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/toasts";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/spinners";
@import "bootstrap/utilities";
@import "bootstrap/print";
body {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  line-height: 1.2  ;
}

.red-pink-bg {
  background-image: linear-gradient(177deg, $orange 95%, $pink calc(95% + 1px))
}

.pink-fushia-bg {
  background-image: linear-gradient(183deg, $pink 95%, $fushia calc(95% + 1px))
}

.red-blue-bg {
  background-image: linear-gradient(177deg, $orange 200px, $blue calc(200px + 1px))
}

@include media-breakpoint-up(md) {
  .red-pink-bg {
    background-image: linear-gradient(177deg, $orange 88%, $pink calc(88% + 1px))
  }

  .pink-fushia-bg {
    background-image: linear-gradient(183deg, $pink 88%, $fushia calc(88% + 1px))
  }

  .red-blue-bg {
    background-image: linear-gradient(177deg, $orange 200px, $blue calc(200px + 1px))
  }
}




._score-desc.score-1 {
  .score-1 {
    display: block;
  }
  .score-2 {

  }
}

h1 {
  font-family: 'ptf_nordic_stdnormal' !important;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

h2, .h2 {
  font-size: 3rem;
  font-weight: normal;
  font-style: normal;
  color: $white;
}

.tiny {
  font-size: 0.6rem;
}

.container {
  max-width: 800px;
}

h6 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.brand {
  font-size: 0.7rem;
  .modal-body {
    font-size: 1rem;
  }
  color: $medium-grey;
  h6 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  dl {
    font-size: 0.8rem;
  }

  a {
    color: $pink;
  }
}

._brand-search {
  border-radius: 0;
}

.section {
  border-top: 2px solid $white;
  padding-top: 20px;
}

#brand-select {
  max-width: 200px;
}

.brand-profile .showcase-details {
//  display: none;
}

.btn-primary, .btn-outline-primary {
  border-color: $fushia;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
}

.btn-outline-primary {
  color: $fushia !important;
}

.btn-outline-primary:hover {
  color: $pink !important;
}

.btn-primary {
  color: $pink;
  background-color: $fushia;
}

.btn-sm {
  font-size: 0.7rem;
}

.narrow {
  max-width: 400px;
  width: 100%;
}

.display-4 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
  font-family: 'ptf_nordic_stdnormal';
}

.display-3 {
  text-transform: uppercase;
  font-size: 2.9rem;
  font-weight: 100;
  line-height: 1;
  font-family: 'ptf_nordic_stdnormal';
}

#circle {
  width: 150px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.side-bar-image {
  max-width: 150px;
}

.card-text {
  color: #000;
}

.list-style-none > li {
  list-style: none;
}

.drop-shadow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32);
}

.input-group {
  flex-wrap: nowrap !important;

  select {
    width: 100%;
    min-width: 100%;
  }
}

.template {
  display: none !important;
}

.select2-results__options--nested {
  margin-left: 15px !important;
}

.input-group-text .fa {
  // color: #181715;;
}

.input-group-prepend {
    margin-right: -2px;
}

// for consistent input size and font size
.form-control {
    padding: 0.4999rem 1rem;
    font-size: 1rem;
}

// for consistent placeholder color
input {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 1rem;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 1rem;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 1rem;
  }
  &:-moz-placeholder, &::placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 1rem;
  }
}

.elevate-1 {
  margin-top: -10px;
}

.border-bottom-2 {
  border-bottom: 2px $white solid;
}

.search-form {
  max-width: 250px;
  width: 100%;
}

.middle-text {
  margin: 0 15%;
  .lead {
    line-height: 1.5em;
    margin-top: 1em;
  }
  p, .red-quote {
    font-weight: normal;
    line-height: 1.7;
    margin: 2em 0;
    font-size: 0.9em;
  }
  .red-quote {
    font-size: 1.4em;
    border-left: 2px solid $orange;
    padding-left: 1em;
    color: $orange;
  }
  img {
    max-width: 100%;
  }
  li {
    font-size: 0.9em;
    margin: .5em 0
  }
}
.container > img {
  width: 100%;
}

.citation {
  font-size: 0.75em;
  text-transform: uppercase;
  margin-top: 1.3em;
}

.text-on-image {
  margin: 1em 0 2em 0;
  .quote-on-image {
    padding: 1em 2em;
    max-width: 80%;
    color: $white;
    font-size: 1.5em;
  }
  background-size: 100%;
}

.stomach_problems_bg {
  background-image: linear-gradient(to right, #333 0%,rgba(255,255,255,0) 80%),
  url("/images/living_wage/stomach_problems_bg.png");
}
.no_pay_slip_bg {
  background-image: linear-gradient(to right, #333 0%,rgba(255,255,255,0) 80%),
  url("/images/living_wage/no_pay_slip_bg.png");
}
.living-wage-banner {
  background-image: url("/images/living_wage/top_banner.png");
}
.gender-banner {
  background-image: url("/images/gender/top_banner.png");
}
.about-fashion-banner {
  background-image: url("/images/about_us/top_banner.png");
}

@import "living_wage_table";

.red-head {
  color: $orange;
  font-weight: bold;
  border-top: 2px solid $orange;
  margin-top: 1em;
  padding: 1em 0 0.5em 0;
}

.bar {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  margin: 1em 0 2em 0;
  .bar-icon {
    width: 50px;
  }
}

.no-data {
  opacity: 60%;
}

.top-banner {
  position: relative;
  max-height: 350px;
  overflow: hidden;
  .top-banner-image img {
    width: 100%;
  }
  .top-banner-text {
    position: absolute;
    text-align: center;
    color: #fff;
    top: 40%;
    width: 100%;
    font-size: 46px;
  }
}
.pointer {
  cursor: help;
}
#navbarHeader a {
  color: #fff;
}
#main-header {
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 10;
}
main {
  margin-top: 76px;
}