%header
  #navbarHeader.collapse.red-bg
    .container
      .row.red-bg
        .col-sm-8.col-md-7.py-4
          %h4.text-white Learn more
          %ul.list-unstyled
            %li
              %a.text-white{:href => "#"} What is living wage
            %li
              %a.text-white{:href => "/gender.html"} Gender
            %li
              %a.text-white{:href => "#"} Transparency
            %li
              %a.text-white{:href => "#"} News
        .col-sm-4.offset-md-1.py-4
          %h4.text-white About
          %ul.list-unstyled
            %li
              %a.text-white{:href => "#"} About Fashion Checker
            %li
              %a.text-white{:href => "#"} Our Demands
            %li
              %a.text-white{:href => "#"} Who we are
            %li
              %a.text-white{:href => "/methodology.html"} Research Methodology

  .navbar.navbar-dark.red-bg.shadow-sm
    .container.d-flex.justify-content-between
      %a.navbar-brand.d-flex.align-items-center{:href => "/"}
        %img{src: "images/CCC_FashionChecker_RGB_horizontal.svg",
        height: "50px", width: "auto"}
      %button.navbar-toggler{"aria-controls" => "navbarHeader", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarHeader", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon