%h6.section.card-title.text-uppercase Commitment Score
%p
  This brand isn't doing enough to move towards Living Wages
  in its supply chain.
.row.border-top.mx-0.py-2
  .col-sm-6.pl-0
    PUBLIC COMMITMENT?
  .col-sm-6.pr-0.text-right
    %span.value._public-commitment
    %img._public-commitment-smiley{src: "images/smiley/No.png", height: "30px"}
.row.border-top.mx-0.py-2
  .col-sm-6.pl-0
    ACTION PLAN?
  .col-sm-6.pr-0.text-right
    %span.value._action-plan
    %img._action-plan-smiley{src: "images/smiley/Yes.png", height: "30px"}
.row.border-top.mx-0.py-2
  .col-sm-6.pl-0
    SEPARATE LABOR COSTS?
  .col-sm-6.pr-0.text-right
    %span.value._isolating-labour-cost
    %img._isolating-labour-cost-smiley{src: "images/smiley/Yes.png", height: "30px"}
.row.border-top.mx-0.py-2.tiny
  .col-sm-12.pl-0
    Interested in more information?
    Check out
    %a._wikirate-link
      WikiRate