%h6.section.card-title.text-uppercase Transparency Score
%p
  %img._transparency-score{src: "images/transparency_score/0.0.png", width: "200px"}
%p.tiny
  %a{href: "#"}
    What does this mean?
%p
  Zara provides information beyond the basics. The brand published more information.
%p.tiny
  %a{href: "#"}
    Read more
  about why transparency is important
  %br
  %a{href: "#"}
    Read more
  about how this score was calculated