%body
  = partial "partials/shared/table_lang"
  %script
    = score_translation_script
  %main.embed-main.brand{:role => "main"}
    = brand_profile_partial :main, locals: { search: true }
    = section :fuchsia do
      &nbsp;