.col-sm-6.section.pl-0
  %h6.text-uppercase
    = t('living_wage_score.title')
    %span.showcase-details._living-wage-score
  %img._living-wage-score{src: "/images/wage_score/E.png", width: "200px"}
.col-sm-6.section.pr-0.pl-1.d-flex.flex-column.justify-content-between
  %div._living_wage_score-templates
    %p._living_wage_score-text
  // = score_desc("living_wage_score.desc_1", 5)
  .showcase-details
    %p
      %a.btn.btn-primary.btn-sm{href: "#"}
        = t('take_action')
      %a.btn.btn-outline-primary.btn-sm{href: "brand-profile.html?q=18215"}
        = t('see_company_profile')