.transparency-stars._transparency-stars
  %img._star-1{ src: "/images/transparency_score/star_outline.svg" }
  %img._star-2{ src: "/images/transparency_score/star_outline.svg" }
  %img._star-3{ src: "/images/transparency_score/star_outline.svg" }
  %img._star-4{ src: "/images/transparency_score/star_outline.svg" }
  %img._star-5{ src: "/images/transparency_score/star_outline.svg" }
