.modal#embedModal{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Embed this page
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
      .modal-body
        %p
          %code
            &= '<iframe src="https://ccc.wikirate.org"/>'
        %p.text-white
          If you need different background you can use the background parameter like this:
        %code
          &= '<iframe src="https://ccc.wikirate.org/?background=%23ffffff"/>'
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
