-#%h5.font-weight-light.pb-2._result-header Result
%div.container
  #result
  .template._brand-item
    %a.h4.font-weight-normal{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "replaced_by_js", :role => "tab"}
      %span#title
    .row
      .col-sm-3
        %h6.text-muted BRANDS:
        %ul#brands.list-unstyled
      .col-sm-9
        %dl.row
          %dt.col-sm-4 HQ:
          %dd.col-sm-8
            %span#location
          %dt.col-sm-4
            Number of workers:
          %dd.col-sm-8
            %span#worker-count
          %dt.col-sm-4
          %dd.col-sm-8
          %dt.col-sm-4.mt-2
            Interested in more information?
          %dd.col-sm-8
          %dt.col-sm-4.mt-2
            Check out
            %a#wikirate-link.btn.btn-sm.btn-secondary
              WikiRate
          %dd.col-sm-8

    .row
      .col-sm-4
        .card.text-dark.bg-light
          .card-body
            %h5.card-title.text-uppercase Transparency Score
            %h3.pink.card-text#transparency-score
      .col-sm-4
        .card.text-dark.bg-light
          .card-body
            %h5.card-title.text-uppercase Commitment Score
            %h3.pink.card-text#commitment-score
      .col-sm-4
        .card.text-dark.bg-light
          .card-body
            %h5.card-title.text-uppercase Living Wage Score
            %h3.pink.card-text#living-wage-score
    .row.mt-4
      .col-sm-12
        %h6
          Sourcing from factories
          (
          %span#factory-count 0
          found)
        .table-responsive
          %table.table.text-dark.table-sm
            %thead
              %tr
                %th Company
                %th{colspan: 2} Number of workers
                %th{colspan: 2} Wage
                %th{colspan: 3} Workers
              %tr
                %td
                %td Female/Male/Other
                %td Permanent/ Temporary
                %td average
                %td gap
                %td have cba
                %td know brand
                %td  get pregnancy leave
            %tbody
