.form-group
  .input-group
    .input-group-prepend
      %span.input-group-text.yellow-bg
        %i.fa.fa-search
    %select.form-control._brand-search{id: id, :placeholder => "search for brand", :type => "text"}