%h5.font-weight-light.pb-2 Search
.form-group
  .input-group
    .input-group-prepend
      %span.input-group-text
        %i.fa.fa-search
    %select.form-control._factory-search#brand-select{:placeholder => "Brand", :type => "text"}